body{
  width: 1200px;
  height: auto;
}

nav {
    list-style-type: none;
    margin: 45;
    padding: 0;
    overflow: hidden;
    color: #00;
    background-color: #333;
}

.first{
  font-size: 16pt;
  display: inline;
  margin: 50px
}

li.first a {
    color: white;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
}

.us {
    width:600;
    height: auto;
}

main {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 50px;
  position:relative;
  font-style:normal;
  font-family: sans-serif;
  font-size: 12pt
}

h1 {
  font-size: 16pt;
}

footer p {
  font-family: sans-serif;
  font-stretch: expanded;
}
